body {
	margin: 0;
	padding: 0;
	font: 100% Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
}

h2 {
	font-size: 13pt;
	font-weight: normal;
	color: #17568b;
	margin-top: 0px;
}

input[type=text] {
	font-size: 11pt;
    height: 30px;
    width: 147px;
    border: 1px solid #b5cade;
    padding-left: 8px;
}

input[type=button]{
	font: 8pt Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
	color: #ffffff;
	margin-top: 0;
	padding: 8px 17px 8px 17px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

input[type=button].big {
	font-size: 11pt;
	padding: 10px 40px;
}

input[type=button].blue {
	background: -moz-linear-gradient(top, #47a2ce 0%, #3880bb);
	background: -webkit-gradient(linear, left top, left bottom, from(#47a2ce), to(#3880bb));
	border: 1px solid #3880bb;
}

input[type=button].blue-dark {
	background: -moz-linear-gradient(top, #367ba8 0%, #2a6185);
	background: -webkit-gradient(linear, left top, left bottom, from(#367ba8), to(#2a6185));
	border: 1px solid #2a6185;
}

input[type=button].green {
	background: -moz-linear-gradient(top, #54a7a7 0%, #428484);
	background: -webkit-gradient(linear, left top, left bottom, from(#54a7a7), to(#428484));
	border: 1px solid #428484;
}

input[type=button].log_out {
	padding: 0;
	min-width: 88px;
	height: 24px;
	float: right;
}

/* input type file custom css */
.file_upload {
	width: 290px;
	height: 28px;
    position: relative;
    overflow: hidden;
    font-size: 1em;
    line-height: 28px;
  	border: 1px solid #b4c9de;
  	background-color: #ffffff;
  	color: #999999;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    transition: box-shadow 0.1s linear;
}

.file_upload > div {
    padding-left: 1em;
}

.file_upload input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(20);
    letter-spacing: 10em;     /* IE 9 fix */
    -ms-transform: scale(20); /* IE 9 fix */
    opacity: 0;
    cursor: pointer;
}

.file_upload.focus {
    box-shadow: 0 0 5px rgba(0,30,255,0.4)
}

.file_upload > button {
	color: #ffffff;
	float: right;
    width: 8em;
    height: 100%;
    transition: background 0.2s;
    border-radius: 2px;
    color: #ffffff;
    text-shadow: #6200bd 0 -1px 0;
    overflow: hidden;
    background: -moz-linear-gradient(top, #47a2ce 0%, #3880bb);
	background: -webkit-gradient(linear, left top, left bottom, from(#47a2ce), to(#3880bb));
	border: 1px solid #3880bb;
}

.file_name {
	font-size: 8pt;
}
/* ************************** */

textarea {
	font-size: 10pt;
	padding: 13px 16px;
	border: 1px solid #b4c9de;
}

textarea.options {
	height: 150px;
	width: 1017px;
}

.inline {
	margin-bottom: 15px;
	vertical-align: top;
	display: inline-block;
}

.new_message {
	width: 522px;
	text-align: right;
	margin-right: 45px;
}

.new_message textarea{
	height: 142px;
	width: 488px;
}

.order_refresh {
	width: 435px;
}

.refresh {
	float: right;
	margin-top: 65px;
}

#wrapper {
    width: 1098px;
    margin: 0 auto;
    text-align: left;
 }

#header {
	height: 147px;
}

#user_panel {
	padding-top: 35px;
	float: right;
	display: inline-block;
}

#user_panel .user-photo {
	display: inline-block;
	background: url(../img/user.png) no-repeat;
	height: 77px;
	width: 77px;
}

#user_panel .user-info {
	line-height: 30px;
	padding-left: 10px;
	vertical-align: top;
	display: inline-block;
	font-size: 10pt;
}

.general_info {
	font-size: 11pt;
	line-height: 32px;
}

.general_info .margin_t {
	margin-top: 15px;
	display: block;
}

.general_info .second {
	margin-left: 20px;
}

.general_info .third {
	float: right;
	line-height: 12pt;
}

.trashcan {
	background: url(../img/trashcan.png) no-repeat 0px 0px;
	padding-left: 50px;
	display: inline-block;
	height: 41px;
	line-height: 41px;
	color: #ff0000;
}

#logo {
	display: inline-block;
	padding-top: 15px;
	margin-left: -10px;
	width: 200px;
}

#logo div {
	background: url(../img/logo.png) no-repeat;
	height: 147px;
}

.author {
	font-size: 14pt;
	color: #275787;
}

.gr {
	font-size: 12pt;
	color: #17568b;
}

.options_price {
	font-size: 10pt;
}

.more {
	font-size: 80%;
}

.navigation {
	font-size: 13pt;
	list-style: none; /* прячем маркеры */
	border: 0;
	padding: 0;
	margin: 0;
	border-bottom: 10px;
	border-style: solid;
	border-color: #5094cb;
	text-align: justify;
}

.navigation li {
	height: 34px;
	line-height: 34px;
	vertical-align: middle;
	text-align: left;
	display: inline-block; /* выстраиваем элементы списка в один ряд */
	background-color: #ddeaf4; /* цвет неактивных пунктнов меню */

	padding: 0 20px;

	border-top: 1px;
	border-left: 1px;
	border-right: 1px;
	border-bottom: 0;
	border-color: #abcfd6;
	border-style: solid;

}

.navigation li a {
	text-decoration: none;
	color: #1d6bb1;
}

.navigation li.selected{
	background-color: #5094cb; /* цвет активных пунктнов меню */
	border-color: #5094cb; /* цвеcт границ активных пунктнов меню */
}

.navigation li.selected a{
	color: #ffffff;
}

.navigation li.helper {
    width: 100%;
    height: 0;
    visibility: hidden;
    border: 0;
}

div#content {
	min-height: 250px;
	background-color: #edf3f8;
	padding: 15px 23px 40px 23px;
	border: 1px solid #d3e2ed;
}

.headline {
	font-size: 13pt;
	margin-top: 14px;
	padding: 0 13px;
	height: 36px;
	background-color: #5094cb;
	color: #ffffff;
	line-height: 34px;
	vertical-align: middle;
}

.light {
	background-color: #d0e9f1;
	color: #17558b;
}

.info {
	font-size: 10pt;
	padding: 10px 10px 10px 45px;
	border: 1px solid #b5cee0;
	background: url(../img/info.png) no-repeat 10px 10px #ffffd5;
	min-height: 25px;
	margin: 10px 0 10px 0;
}

.message {
	padding: 10px;
	border: 1px solid #b5cee0;
	background-color: #ffffd5;
	min-height: 25px;
	margin-top: 10px;
}

#footer {
	color: #ffffff;
	text-align: right;
	background-color: #17568b;
	height: 90px;
	padding: 15px;
	font-size: 10pt;
}

.styled-select {
	width: 196px;
	overflow: hidden;
	background: url(../img/down_arrow.png) no-repeat 95% #ffffff;
	border: 1px solid #b4c9de;
	margin-top: 15px;
}

.styled-select select {
	background: transparent;
	width: 224px;
	padding: 5px;
	font-size: 10pt;
	line-height: 1;
	border: 0;
	border-radius: 0;
	height: 30px;
	color: #656c70;
	-webkit-appearance: none;
}

div.outer-block {
	font-size: 12pt;
	background-color: #ffffff;
	padding: 20px;
	padding-bottom: 0;
	border: 1px solid #9ec4e2;
}

div.outer-block-2 {
	font-size: 10pt;
	padding: 0 20px 0 20px;
	border: 1px solid #accfd6;
}

.separate {
	margin-top: 20px;
}

div.outer-block-2 a{
	color: black;
}

div.block {
	font-size: 10pt;
	margin: 13px 0 13px 0;
	background-color: #edf3f8;
	padding: 12px 15px 10px 15px;
	border: 1px solid #b4cde0;
}

div.file {
	font-size: 9pt;
	padding: 10px 10px 10px 60px;
	min-height: 45px;
}

div.doc {
	background: url(../img/doc.png) no-repeat 10px 10px;
}

div.xls {
	background: url(../img/xls.png) no-repeat 10px 10px;
}

div.psd {
	background: url(../img/psd.png) no-repeat 16px 10px;
}

div.pdf {
	background: url(../img/pdf.png) no-repeat 10px 10px;
}

div.png {
	background: url(../img/png.png) no-repeat 12px 10px;
}

.pseudo-link {
	text-decoration: underline;
	cursor: pointer;
}

.pseudo-button {
	font-size: 10pt;
	border: 1px solid #5eaeae;
	cursor: pointer;
	color: #ffffff;
	background-color: #6cb5b5;
	height: 24px;
	width: 157px;
	display: inline-block;
	text-align: center;
	line-height: 24px;
}

.edit {
	display: block;
	color: #b90000;
	text-align: right;
}

span.size {
	color: #0080ee;
}

span.file-type {
	color: #999999;
}

span.remove {
	font-size: 8pt;
	margin-left: 20px;
	background: url(../img/remove.png) no-repeat 2px;
	padding-left: 18px;
	color: #3579b3;
}

.template-menu {
	font-size: 8pt;
	color: #ffffff;
	width: 145px;
	padding: 8px 0 7px 0;
	background-color: #3f89c3;
	text-align: center;
}

.template-menu a {
	color: #ffffff;
	text-decoration: none;
}

.template-info {
	width: 145px;
	margin-top: 12px;
	font-size: 8pt;
}

.template-info a {
	color: black;
}

.template-other {
	font-size: 11pt;
	width: 145px;
	margin-top: 20px;
	text-align: center;
}

.add_file {
	font-size: 8pt;
	background: url(../img/add.png) no-repeat 2px;
	padding: 2px 0 2px 30px;
	color: #3579b3;
}

.send_mail {
	padding-left: 20px;
	background: url(../img/up.png) no-repeat 2px;
}

.inbox {
	padding-left: 20px;
	background: url(../img/down.png) no-repeat 2px;
}

.attach {
	padding-right: 20px;
	margin-left: 15px;
	background: url(../img/attach.png) no-repeat 2px;
}

.send_order {
	padding-left: 80px;
	font-size: 10pt;
}

.text {
	font-size: 10pt;
}